<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://github.com/yuanhangziyuan/yuanhangziyuan/yuanhangziyuan.ipa</string> //ipa 在服务器上的路径
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.aio.allWin</string>  // 你的BuildeID 在你的Xcode info.plist里找
                    <key>bundle-version</key>
                    <string>1.0.0</string>         // 版本号 例如 1.0
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>远航资源</string>      // 这个就是你App的名字 例如:文件夹
                </dict>
            </dict>
        </array>
    </dict>